.gallery {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(225px, 1fr));
    gap: 16px;
    justify-items: stretch;
    align-items: stretch;
    margin: 0 auto;
    padding: 0 0 92px 0;
}

@media screen and (max-width: 1024px) {
    .gallery {
        max-width: 928px;
        padding: 0 0 64px 0;
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .gallery {
        max-width: 288px;
    }
}