.place__image{
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
}

@media screen and (max-width: 425px) {
  .place__image {
  grid-column: 1/3;
  grid-row: 3;
  }
} 
