.intro {
  max-width: 76.8vw;
  min-height: 429px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}
