.lead__subtitel{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}