.cover {
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
  }
}