.language{
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .language {
    font-size: 18px;
    line-height: 20px;
  } 
  }

