.header__title{
    display: block;
    width: 730px;
    line-height: 96px;
    align-items: baseline;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 4;
  }